JARVIS/.vs/JARVIS/config/applicationhost.config
JARVIS/.vs/JARVIS/DesignTimeBuild/.dtbcache.v2
JARVIS/.vs/JARVIS/FileContentIndex/466c0d21-1759-4984-ad3c-b6461843e593.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/826bc758-4d8f-4da9-a657-acb99156273e.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/b45bf859-80c8-4beb-bf46-8ff59ea85f5f.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/c404462d-6004-4eb7-a589-2bc6fba7ef6a.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/e4a00b5e-c7f0-4e67-93ad-49052247609b.vsidx
JARVIS/.vs/JARVIS/v17/.futdcache.v2
JARVIS/.vs/JARVIS/v17/.suo
JARVIS/.vs/JARVIS/v17/DocumentLayout.backup.json
JARVIS/.vs/JARVIS/v17/DocumentLayout.json
JARVIS/.vs/ProjectEvaluation/jarvis.metadata.v9.bin
JARVIS/.vs/ProjectEvaluation/jarvis.projects.v9.bin
JARVIS/.vs/ProjectEvaluation/jarvis.strings.v9.bin
/JARVIS/JARVIS/bin/Debug
/JARVIS/JARVIS/obj/Debug
/JARVIS/JARVIS/obj
